*{
	text-align: center;
	font-family: 'Kanit', sans-serif;
}

pre{
	text-align: right;
}

div{
	border: 3px solid hsl(240, 100%, 50%);
}

.tablediv{
	border: 1px dotted hsl(240, 100%, 50%);
}

.tablediv:hover{
	border: 1px solid red;
}

a{
	text-decoration: none;
}

a:hover{
	color:red;
}

ul{
	list-style-type: none;
}

h1{
	font-size: 50px;
	font-family: 'Tilt Prism', cursive;
}

h2{
	font-size: 40px;
}

p,a{
	font-size: 20px;
}